<template>
<div class="slds-grid slds-gutters slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                    <lightning-input onchange={handleInput} type="text" label="First Name"
                        name = "FirstName" required variant="label-stacked"></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                    <lightning-input onchange={handleInput} type="text" label="Middle Name"
                        name = "MiddleName"  variant="label-stacked"> </lightning-input>
                </div>
</div>

</template>